.DS_Store
Thumbs.db
.vs/
bin/
obj/
packages/
TestResults/
node_modules/
*.log
*.suo
package-lock.json
app/**/*.js
app/**/*.js.map
*.csproj.user
.axoCover/
*.exe
StyleCop.Cache

.vscode/launch.json

.editorconfig
